<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" sizes="32x32" href="/parkview-website/assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/parkview-website/assets/images/favicon-16x16.png">
        <link rel="shortcut icon" href="/parkview-website/favicon.ico"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/parkview-website/assets/css/styles.css">
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>